.App {
	font-family: 'Catamaran Light' !important;
	text-align: center;
	max-width: 960px;
	margin-left: auto;
	margin-right: auto;
	justify-content: center;
	align-items: center;
}

.parrafo {
	hyphens: auto;
	text-align: left;
	font-size: 16px;
	margin: 0;
	padding: 0 1em;
}

h1 {
	font-size: 24px;
	margin: 0;
	padding: 0 1em;
}

h3 {
	font-size: 20px;
	margin: 0;
	padding: 0 1em;
}

.prueba {
	width: 100%;
}

.App-link {
	color: #61dafb;
}

.svg {
	margin: 0 auto;
}

.svg text {
	fill: rgb(0, 0, 0);
	font-weight: 10;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
		'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
		sans-serif;
}

.Axis path,
.Axis tick,
.Axis line {
	fill: none;
	stroke: none;
}

.xAxis path {
	fill: none;
	stroke: #bcbf07;
	stroke-width: 1.5;
}

.xAxis tick,
.xAxis line {
	fill: none;
	stroke: none;
}

.xAxis text {
	font-size: 1em;
	/*writing-mode: vertical-lr;
	transform: rotate(180deg);
	text-align: center;*/
}

.yAxis text {
	font-size: 1em;
}

.yAxis path {
	fill: none;
	stroke: #bcbf07;
	stroke-width: 1.5;
}

.Axis text {
	font-size: 12px;
}

.bars:hover {
	opacity: 0.4;
}

.bar:hover {
	opacity: 0.4;
}

.legendTitle {
	font-size: 12px;
}

.legendMetrica {
	font-size: 0.65em;
}

.yAxisTitle {
	font-size: 11px;
}

.legendFilter {
	font-size: 11px;
}

.yAxisGrid line {
	stroke: lightgrey;
	stroke-opacity: 0.7;
	shape-rendering: crispEdges;
}

.yAxisGridd path {
	stroke-width: 0;
}

.bars {
	position: absolute;
}

.tooltip {
	position: absolute;
	z-index: 1;
	font-size: 10px;
}

/*Media Queries*/
@media (min-width: 700px) {
	.content {
		display: grid;
		grid-template-columns: repeat(4, minmax(auto, 250px));
	}

	#section-a {
		grid-column: 1/-1;
		grid-template-rows: 1;
	}

	#section-b {
		grid-column: 1/2;
		grid-template-rows: 1;
	}

	#section-c {
		grid-column: 2/5;
		grid-template-rows: 1;
	}

	#section-d {
		grid-column: 1/3;
	}

	#section-e {
		grid-column: 3/5;
	}

	#section-f {
		grid-column: 1/-1;
	}

	#section-g {
		grid-column: 1/3;
	}

	#section-h {
		grid-column: 3/5;
	}
}

/*Media Queries*/
@media (max-width: 430px) {

	#section-c .xAxis text,
	#section-g .xAxis text {
		font-size: 1em;
		writing-mode: vertical-lr;
		transform: rotate(180deg);
		transform: translate(0, 5px);
		text-align: center;
	}
}